#AdminPanel {
	display: flex;
	height: 100dvh;
	scroll-margin-block-start: 20rem;

	.admin-outlet {
		width: 100%;
		padding: 0.6rem 1.5rem;
	}
}

#Client {
	.client-outlet {
		margin: var(--nav-height) auto 0;
	}	
}
