#AdminPanel {
	display: flex;
	height: 100dvh;
	scroll-margin-block-start: 20rem;

	.admin-outlet {
		width: 100%;
		padding: 0.6rem 1.5rem;
	}
}

#Client {
	.client-outlet {
		margin: 12rem auto 0;
		max-width: 1680px;
	}
}
