@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
:root {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--color-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: #e0e0e0;
	--color-secondary: #292929;
	--color-background: #242424;
	--color-accent-primary: #f5b642;
	--color-accent-secondary: #5e6b6d;
	--gradient-light-color-mid: #dbc499;
	--secondary-dark-color: #5e6b6d;
	--alternative-color: #bfb5b2;
	--color-success: #55d49b;
	--color-danger: #dc3545;
	--color-accent-background: #dddddd0e;
	--color-secondary-background: #f5b64207;

	--ff: 'DM Sans', sans-serif;
	--line-height: 1.4em;
	--h1: bold 36px / var(--line-height) var(--ff);
	--h2: bold 28px / var(--line-height) var(--ff);
	--h3: bold 21px / var(--line-height) var(--ff);
	--links: bold 18px / var(--line-height) var(--ff);
	--p: 18px / var(--line-height) var(--ff);
	--btn: bold 18px / var(--line-height) var(--ff);
	--subtext: 12px / var(--line-height) var(-ff);

	--transition: 0.16s ease-in-out, background-color 0.16s, color 0.16s,
		font-weight 0.2s, transform 2s;
	--shadow: #00000030 0px 0px 10px 0px;
	--shadowdark: #00000030 15px 10px 30px 2px;
	--blur: filter: blur(--radius-md);
	--padding: 1rem 1.5rem;
	--color-background-gradient: linear-gradient(
		70deg,
		var(--color-accent-background),
		var(--alternative-color)
	);

	--fade-in: fade-in 3.5s forwards;
}

body {
	padding-bottom: env(safe-area-inset-bottom);
	margin: 0 auto;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}
body::-webkit-scrollbar {
	display: none;
}
h1 {
	font: var(--h1);
	margin-top: 8px;
}
h2 {
	font: var(--h2);
	margin-top: 8px;
	position: relative;
	padding-bottom: 5px;
}
h2::after {
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 0;
	height: 0.3rem;
	background-color: var(--color-accent-primary);
	transition: width 1s ease-in-out;
}
h2.active::after {
	width: 200px;
}
h3 {
	font: var(--h3);
	margin-top: 8px;
}
p {
	font: var(--p);
}
a {
	color: var(--color-primary);
	font: var(--links);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-accent-primary);
}

button > a {
	color: var(--dark-color);
}
button,
a {
	cursor: pointer;
	transition: var(--transition);
}
button:hover {
	scale: 1.05;
}
button:hover:not(.btn-underline) {
	border-top-right-radius: var(--radius-md);
	border-bottom-right-radius: var(--radius-md);
}

.btn-primary {
	font: var(--btn);
	display: inline-block;
	color: var(--color-secondary);
	background-color: var(--color-accent-primary);
	padding: 0.4rem 2rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	min-width: 6rem;
	text-align: center;
}
.btn-primary:hover {
	border-color: var(--secondary-light-color);
	background-color: var(--secondary-light-color);
	color: var(--color-accent-primary);
	transition: var(--transition);
	box-shadow: var(--shadowdark);
}
.btn-outline {
	font: var(--btn);
	display: inline-block;
	color: var(--color-accent-primary);
	background-color: transparent;
	padding: 0.4rem 2rem;
	border: 1px solid var(--color-accent-primary);
	border-radius: 0.5rem;
	min-width: 6rem;
	text-align: center;
}
.btn-outline:hover {
	border-color: var(--secondary-dark-color);
	background-color: var(--secondary-light-color);
	transition: var(--transition);
	box-shadow: var(--shadowdark);
}
.btn-underline {
	font: var(--btn);
	display: inline-block;
	color: var(--color-primary);
	background-color: var(--transparent);
	padding: 0.3rem 2rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	min-width: 6rem;
	text-align: center;
}
.btn-underline:hover {
	color: var(--color-accent-primary);
	border-color: transparent transparent var(--color-accent-primary) transparent;
	border-radius: 0;
	transition: var(--transition);
}

.underline-reverse {
	width: 100%;
	text-align: right;
}

.text-gradient {
	background: linear-gradient(
		120deg,
		var(--gradient-light-color-mid) 20%,
		var(--color-accent-primary) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.nav-overlay.active {
	display: block;
}

.nav-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.618);
	pointer-events: none;
	z-index: 25;
}

section {
	border-radius: 2rem;
}

.background-top {
	background: linear-gradient(180deg, var(--color-secondary), transparent);
}
.background-left {
	background: linear-gradient(90deg, var(--color-secondary), transparent);
}

/* TABLET (MEDIUM) WIDTH */
@media (width >= 40em) {
	.nav-overlay.active {
		display: none !important;
	}
}

/* WEB (FULL) WIDTH */
@media (width >= 60em) {
	.nav-overlay.active {
		display: none !important;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
