h2 {
	font: var(--h2);
	margin-top: 8px;
	position: relative;
	padding-bottom: 5px;
}

h2.active::after {
	width: 200px; /* Maksymalna długość border */
}

h2.primary::after {
	background-color: var(--color-accent-primary);
}

h2.secondary::after {
	background-color: var(--color-accent-secondary);
}
