/* Ukrywamy domyślny radio button */
#PricingForm {
	.total-price,
	.total-time {
		color: white;
		font-weight: bold;
	}
}
.radio-button input[type='radio'] {
	display: none;
}

.radio-button {
	padding: 0.8rem 1rem;
	border: 1px solid var(--color-accent-primary);
	background-color: transparent;
	color: var(--color-primary);
	cursor: pointer;
	display: inline-block;
	display: flex;
	min-width: 200px;
	justify-content: center;
    border-radius: 1rem;
}

/* Styl dla aktywnego przycisku (gdy radio jest zaznaczone) */
.radio-button.active {
	background-color: var(--color-accent-primary);
	color: var(--color-secondary);
	transition: (--transition);
    
}

/* Efekt hover */
.radio-button:hover {
	scale: 1.02;
	background-color: var(--color-accent-primary);
	color: var(--color-secondary);
	transition:
		background-color 0.3s,
		color 0.3s;
	transition: (--transition);
}

/* Stylizacja dla sekcji details */
.details-section .radio-button {
	background-color: var(--color-accent-background);
	border-color: var(--color-secondary-background);
	color: var(--color-primary);
	cursor: pointer;
	transition:
		background-color 0.3s,
		color 0.3s;
	display: inline-block;
	transition: (--transition);
	min-height: 14rem;
	> span {
		font-weight: bold;
		font-size: 120%;
	}
    
}

/* Styl dla aktywnego przycisku w sekcji details */
.details-section .radio-button.active {
	background-color: var(--color-accent-primary);
	color: var(--color-secondary);
}

/* Efekt hover dla sekcji details */
.details-section .radio-button:hover {
	scale: 1.02; /* Większe powiększenie przy hover */
	background-color: var(--color-accent-primary);
	color: var(--color-secondary);
}

.checkbox-button.active:hover {
	opacity: 0.6;
}
.checkbox-button.active.linked:hover {
	text-decoration: line-through;
}

.checkbox-button input[type='checkbox'] {
	display: none;
}

.checkbox-button {
	background-color: transparent;
	color: var(--color-primary);
	cursor: pointer;
	transition:
		background-color 0.3s,
		color 0.3s;
	display: inline-block;
	font-weight: bold;
	border: 1px solid var(--color-secondary-background);
	padding: 0.7rem 1.5rem;
}

/* Styl dla aktywnego przycisku */
.checkbox-button.active {
	color: var(--color-accent-primary);
}

/* Efekt hover */
.checkbox-button:hover {
	scale: 1.02;
	color: var(--color-accent-primary);
}
