

.sidenav {
    min-width: 250px;
    background-color: rgba(218, 218, 218, 0.068); /* Kolor tła */
    display: flex;
    flex-direction: column;
  }
  
  .sidenav-header {
    display: block;
    align-content: center;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    background-color: var(--primary-dark-color);
  }
  
  .sidenav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }
  
  .sidenav-item {
    padding: 0.2rem 1.2rem; 
  }
  
  .sidenav-link {
    border-radius: 1rem;
    display: block;
    padding: 1rem 2rem;
    color: var(--primary-light-color);
    text-decoration: none;
    transition: background-color 0.16s;
    font-size: 120%;
  }
  
  .sidenav-link:hover {
    background-color: var(--secondary-light-color);
    color: var(--black)
  }
  
  .sidenav-link.active {
    color: var(--secondary-light-color)
  }
  