.slider {
	position: relative;
	overflow: hidden;
}

.slider-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider-item {
	min-width: 25%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex-direction: column;
}

.slider-card {
	width: 300px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 1rem;
}

.slider-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.slider-card-image-wrapper {
	position: relative;
	width: 100%;
	height: 180px;
}

.slider-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	transition: transform 0.3s ease-in-out;
}

.slider-card-image-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(84, 77, 59, 0.2); /* Ciemny overlay */
	opacity: 0;
	transform: scale(1.05);
	transition: opacity 0.3s ease-in-out;
	pointer-events: none; /* Upewnia się, że overlay nie będzie blokował kliknięcia w link */
}

.slider-card:hover .slider-card-image {
	transform: scale(1.05); /* Lekki zoom */
}

.slider-card:hover .slider-card-image-wrapper::after {
	opacity: 1; /* Pokazuje overlay */
}

.slider-card-content {
	padding: 1rem 0.5rem;
	padding-bottom: 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative; /* Pozycjonuje content nad overlayem */
}

.slider-card-title {
	font-size: 1.25rem;
}

.slider-card-description {
	font-size: 1rem;
}
