#ImageText {
	.image-wrapper {
		padding: 1rem 1.5rem;
		text-align: center;
		
		img {
			width: 200px;
			padding: 1rem;
			box-shadow: var(--shadowdark);
			backdrop-filter: blur(2px);
			border-radius: var(--radius-md);
		}
		:hover {
			scale: 1.05;
			rotate: 2deg;
			transition: var(--transition);
			background-color: rgba(255, 255, 255, 0.064);
		}
	}
	.content-wrapper {
		display: block;
		width: 100%;
		padding: 1rem 0.5rem;
		text-align: left;
	}

	.labels {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
	.label {
		background-color: rgba(255, 255, 255, 0.064);
		padding: 0.2rem 0.5rem;
		border-radius: 0.4rem;
		cursor: default;
	}
}
