@keyframes slide-up {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

section.header {
	position: relative;
	min-height: 24vh;
	display: flex;
	align-items: center;
}
@media (min-width: 40em) {
	section.header {
		min-height: 28vh;
	}
}
@media (min-width: 60em) {
	section.header {
		min-height: 32vh;
	}
}

.header2 {
 	margin-bottom: 4rem;
}

.headerContent {

	margin-top: -1rem;
}

.headerPicture {
	filter: grayscale(1);
	filter: sepia(0.3);
	filter: opacity(0.81);
	position: absolute;
	animation: slide-up 3.5s forwards;
	right: 0;
	z-index: -1;
	width: 80%;
}

.header-section.without-image {
	min-height: 100px !important;
}
