.layout_component {
  /* Podstawowy styl dla Layout */
}

.layout_sidenav_left {
  display: flex;
  flex-direction: row;
  gap: 1.5rem
}

.layout_sidenav_right {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.layout_top_nav {
  display: flex;
  flex-direction: column;
}

.layout_full_width {
  width: 100%;
  /* Inne style pełnej szerokości */
}

@media (width < 60em) {
  .layout_sidenav_right {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
