.sidenav {
	width: 400px;
	padding: 0 0.8rem;
	background-color: var(--color-secondary);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	transition: width 0.3 ease;
	z-index: 100;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.sidenav-header {
	display: block;
	font-size: 140%;
	font-weight: bold;
	text-align: start;
	color: var(--white);
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}

.sidenav-menu {
	box-sizing: border-box;
	list-style-type: none;
	padding: 0;
	margin: 0;
	flex: 1;
}

.sidenav-item {
	padding: 0.2rem;
}

.sidenav-link {
	border-radius: 1rem;
	display: block;
	padding: 0.5rem 1rem;
	color: var(--color-primary);
	text-decoration: none;
	transition: background-color 0.16s;
}

.sidenav-link:hover {
	background-color: var(--color-accent-secondary);
	color: var(--black);
}

.sidenav-link.active {
	color: var(--color-accent-primary);
}

.sidenav-toggle {
	display: none;
	padding: 0.2rem;
	width: 32px;
	height: 32px;
	background-color: var(--color-accent-primary);
	border-radius: 100%;
	color: black;
}

@media (width <= 40em) {
	.sidenav {
		display: none;
		position: fixed;
		animation: slideIn 300ms forwards;
	}

	.sidenav-active {
		display: flex;
		width: 12rem;
	}

	.sidenav-header {
		text-align: end;
	}
	.sidenav-toggle {
		display: block;
		position: fixed;
		top: 1.4rem;
		left: 1rem;
		z-index: 101;
	}

	.sidenav-hidden {
		animation: slideOut 0.3s forwards;
		transform: translateX(-100%);
	}
}
