#ContactPage {
    .contact-cta {
        display: flex;
        flex-direction: column;
        img {
            width: 2rem;
            height: 2rem;
        }
        .contact-cta-child {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }
    .additional-info {
        padding: 0 0.8rem;
        @media (max-width: 480px) {
            padding: 0 1.2rem;
        }
        @media (max-width: 800px) {
            padding: 0 2rem;
        }
    }
}